.post {
    .post-content {
        codeblock {
            /*------------------Mac코드블럭--------------------------*/
            /*가로스크롤ON*/
            .hljs {
                white-space: pre;
                overflow-x: auto;
            }
            
            /*코드종류알려줌*/
            pre[id^="code_"]::after {
            content: attr(data-ke-language);
            position: absolute;
            bottom: 8px;
            right: 12px;
            color: #000000; 
            font-size: 12px; /*내스킨에 코드알려줘서뺌*/
            }
            .hljs {
            display: flex !important;
            flex-direction: column;
            padding: 0 !important;
            font-size: 14px;
            border-radius: 8px;
            box-shadow: 0 12px 24px rgb(0 0 0 / 20%); /*박스쉐도우 0%로난바꿈*/
            color: #cfd2d1;
            background-color: #343131;
            font-family: Menlo, Courier, monospace;
            }
            /*코드라인*/
            .hljs .line {
            counter-increment: line-idx;
            line-height: 1.5;
            }
            /*라인에 마우스오버시 나타나는색*/
            .hljs .line:hover {
            background-color: #ffffff;
            }
            /*코드순서색*/
            .hljs .line::before {
            content: counter(line-idx);
            width: 24px;
            display: inline-block;
            text-align: right;
            margin-right: 16px;
            font-size: 0.8rem;
            color: #747a7a;
            }
            /*라인오버되엇을때 코드순서색*/
            .hljs .line:hover::before {
            color: #ff00f2;
            }
            .hljs .code-header { /*동그라미위에 헤더*/
            display: flex;
            align-items: center;
            padding: 5px;
            background-color: #383636;
            border-radius: 8px 8px 0 0;
            }
            .hljs .code-header .btn { /*동그라미들*/
            border-radius: 50%;
            width: 12px;
            height: 12px;
            margin: 0 3px;
            }
            .hljs .code-header .btn.red {
            background-color: #f5655b;
            }
            .hljs .code-header .btn.yellow {
            background-color: #f6bd3b;
            }
            .hljs .code-header .btn.green {
            background-color: #43c645;
            }
            .hljs .code-body {
            max-height: 1000px; /*코드블럭바디 이사이즈 넘어가면 스크롤바*/
            margin: 1px 8px; /*하단 가로스크롤바아래 마진*/
            overflow: auto;
            }
            .hljs .code-body::-webkit-scrollbar {
            width: 12px; /*스크롤바사이즈*/
            }
            .hljs .code-body::-webkit-scrollbar-thumb {
            background-color: rgb(96 96 96 / 100%); /*스크롤바 색상*/
            border-radius: 4px;
            }
            .hljs .code-body::-webkit-scrollbar-corner {
            display: none;
            }
            /*copy버튼*/
            .hljs .copy-btn {
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: #fff;
            font-size: 0.75rem; /*현재내스킨에 코드블럭복사버튼이자동이라 뺌*/
            padding: 6px 0;
            width: 64px;
            border-radius: 4px;
            margin-left: auto;
            transition: 0.2s background-color;
            }
            .hljs .copy-btn:hover {
            background-color: #555152;
            }
            /*------------------코드블럭 끝--------------------------*/
        }
        
    }
}